body {
     margin: 0;
     text-align: center;
     font-family: 'Merriweather', serif;
}

h1{
    /* if a block elemnt has a width and it needs to center then use margin: 0 auto 0 auto; */
  /* width: 10%;
 margin: 0 auto;
 
 16px = 100% = 1em; */
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #3C6255;
font-family: 'Sacramento', cursive;
line-height: 2;
}

h2{
    color: #3C6255;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3{
    color: #578373;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #e2edd2;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
   right: 300px;
   top: 50px;
}

a{
    color: #3C6255;
}


.skill-row {
   width: 50%;
   margin: 100px auto;
   text-align: left;
   line-height: 2;
}

.develop-img{
    width: 25%;
    float: left;
    margin-right: 30px;

}

.debug-img{
    width: 25%;
    float: right;
    margin-left : 30px;
   
}

hr {
   border-style: dotted #3C6255 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;
   color: grey;
}
.profile-img {
    width: 12%;
    margin-top: 50px;
}

/*
.develop-skill-description{
    clear: left;
}

.debug-skill-description{
    clear: right;
}*/