body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-weight: 400;
  margin: 50px auto 0 auto;
  color: #212121;
  font-family: sans-serif;
  line-height: 2;
}

h2 {
  color: #333;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

h3 {
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.skill-row {
  width: 60%;
  margin: 100px auto;
  text-align: left;
  line-height: 1.8;
}

.develop-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  height: 250px;
  border-radius: 20px;
}

.debug-img {
  height: 250px;
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 20px;
}

hr {
  border-style: dotted #333 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  color: grey;
}
.profile-img {
  width: 12%;
  margin-top: 50px;
}

.btn {
  background: #333;
  background-image: -webkit-linear-gradient(top, #3c6255, #dae2b6);
  background-image: -moz-linear-gradient(top, #3c6255, #dae2b6);
  background-image: -ms-linear-gradient(top, #3c6255, #dae2b6);
  background-image: -o-linear-gradient(top, #3c6255, #dae2b6);
  background-image: linear-gradient(to bottom, #3c6255, #dae2b6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #dae2b6;
  background-image: -webkit-linear-gradient(top, #dae2b6, #3c6255);
  background-image: -moz-linear-gradient(top, #dae2b6, #3c6255);
  background-image: -ms-linear-gradient(top, #dae2b6, #3c6255);
  background-image: -o-linear-gradient(top, #dae2b6, #3c6255);
  background-image: linear-gradient(to bottom, #dae2b6, #3c6255);
  text-decoration: none;
}

.bottom-container {
  background-color: #333;
  margin-top: 50px;
  padding-top: 30px;
}

.contact-me,
.skill-row a {
  color: #fffbe9;
  margin-right: 5px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  bottom: 20px;
}

.contact-me h2 {
  padding: 10px 20px 10px 20px;
}
.contact-me p {
  color: #212121;
}

.skill-row a {
  color: lightslategray;
  font-style: italic;
}

a:hover {
  color: #dae2b6;
}

.develop-skill-description {
  clear: left;
}

.debug-skill-description {
  clear: right;
}

.navbar {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space out items evenly */
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.navbar-left a {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Increase font size */
  padding: 10px; /* Increase padding */
  font-family: "Montserrat", sans-serif;
}

.navbar-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projects-type ul {
  list-style-type: none;
}

.projects-type ul li a {
  margin-right: 5px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #333;
}
.projects-type a:hover {
  color: #dae2b6;
}

.navbar-right ul li {
  display: inline;
  margin-left: 20px; /* Add spacing between list items */
}

.navbar-right ul li:first-child {
  margin-left: 0; /* Remove left margin from the first list item */
}

.navbar-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Increase font size */
  padding: 10px; /* Increase padding */
  font-family: "Montserrat", sans-serif;
}

.navbar a:hover {
  color: black;
}

/* Style for the main content */
.content {
  text-align: center;
  padding: 20px 30px;
}

/* Style for the image */
.content img {
  max-width: 100%;
  height: 200px; /* Set the height to 50px */
  margin-bottom: 20px;
  display: block; /* Center the image */
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.content p {
  color: #212121;
  font-family: "Montserrat", sans-serif;
}

.content ul li a i {
  font-size: 3.2rem;
}

.content ul li a {
  color: #212121;
}

.content ul {
  list-style: none;
  display: flex; /* Use flexbox to arrange items horizontally */
  justify-content: center; /* Align items horizontally in the center */
  margin-right: 20px;
}

.content li {
  margin-right: 20px; /* Add spacing between list items */
}

/*project page CSS*/
/* .skills ol{
   list-style-type: none;
} */

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
section {
  padding: 20px;
  margin: 20px 0;
}
